/*全局样式表*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@keyframes refuse-move {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(3deg);}
    75% {transform: rotate(-3deg);}
    100% {transform: rotate(0deg);}
}